AddType application/x-web-app-manifest+json .webapp
AddHandler x-web-app-manifest+json .webapp

Options +FollowSymLinks -MultiViews

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

#SECTION
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?section=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?section=$1 [QSA,L]

#SECTION + TOKEN (ID/USERNAME/TITLE...)
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?section=$1&token=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ index.php?section=$1&token=$2 [QSA,L]

#CON [QSA] PODEMOS AÑADIR FUNCIONES MEDIANTE URL-GET (ejemplo: inwik.org/propuestas/titulodeejemplo/?action=delete)
</IfModule>