<div id="editor-tools">
    <div id="button-ok"><span></span></div>
	<div id="editor-buttons">
		<div class="button-edit" id="button-undo"><span></span></div>
		<div class="button-edit" id="button-redo"><span></span></div>

		<!--<div id="text-size-dropdown">
			<div id="text-size-selected">
				<span id="text-size-label">Texto normal</span>
				<span id="text-size-arrow"></span>
			</div>
			<ul>
				<li id="normal-text">Texto normal</li>
				<li id="level1-text"><h2 class="text-size-option">Cabecera<h2></li>
				<li id="level2-text"><h3 class="text-size-option">Subcabecera nivel 1</h3></li>
				<li id="level3-text"><h4 class="text-size-option">Subcabecera nivel 2</h4></li>
			</ul>
		</div>-->
		<div class="button-edit" id="button-bold"><span></span></div>
		<div class="button-edit" id="button-italic"><span></span></div>
		<div class="button-edit" id="button-removeformat"><span></span></div>

		<div class="button-edit" id="button-link"><span></span></div>
		<div class="button-edit" id="button-image"><span></span></div>
		<div class="button-edit" id="button-video"><span></span></div>

		<div class="button-edit" id="button-orderedlist" ><span></span></div>
		<div class="button-edit" id="button-bulletedlist"><span></span></div>
		<div class="button-edit" id="button-indent"><span></span></div>
		<div class="button-edit" id="button-outdent"><span></span></div>
    </div>
	<div id="save">
		<input type="button" value="Publicar">
	</div>
</div>

<div id="imgdialog">
	<p>Introduce la dirección de la imagen</p>
	<br><input type="url" class="dialoginput" id="imgdialoginput">
</div>

<div id="videodialog">
	<p>Introduce la dirección del vídeo de youtube</p>
	<p>Ejemplo: http://www.youtube.com/watch?v=XXXXXXXXXXX</p>
	<br><input type="url" class="dialoginput" id="videodialoginput" size="38">
</div>
