#notifications-panel{
	position: absolute;
	padding: 20px;
	background-color: #222;
	right: 10px;
	min-width: 300px;
	min-height: 200px;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	top: 65px;
	display: none;
	z-index: 4;
}

#notifications-panel:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #222;
	border-width: 10px;
	margin-left: 40px;
}

#notifications-panel-wrapper{
	max-height: 400px;
	overflow: hidden;
}

@media only screen and (max-width : 900px) {
	#notifications-panel{
		top: 55px;
		right: 0px;
	}
	#notifications-panel:after {
		display: none;
	}

}

#notifications-actions{
	margin-top:	20px;
}

.no_notifications{
	text-align: center;
	margin-top: 20px;
}

#notifications-wrapper{
    position:fixed;
    top:65px;
	right: 0px;
}

@media only screen and (max-width : 900px) {
	#notifications-wrapper{
		z-index: 1;
		top:0px;
	}
}

.notifications-count{
	display: none;
	position: absolute;
	top: 10px;
	margin-left: 28px;
	background: #cb4437;
	padding: 0 1px;
	line-height: 16px;
	min-width: 14px;
	text-align: center;
	border-radius: 20px;
	font-weight: bold;
	color: white;
	font-size: 90%;
	vertical-align: middle;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

@media only screen and (max-width : 900px) {
	.notifications-count{
		margin-left: 18px;
	}
}

.notifications-count p{
	padding: 0 2px;
}

#no-disturb{
	display: inline-block;
	color:#ccc;
}

#markallasread{
	font-size: 90%;
	float: right;
	color:#ccc;
}

#markallasread:hover{
	text-decoration: underline;
}

.onoffswitch {
    position: relative; width: 30px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	display: inline-block;
	bottom: 2px;
	left: 10px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #222222; border-radius: 50px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 2px; padding: 0; line-height: 2px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 13px; margin: -5.5px;
    background: #A1A1A1;
    border: 2px solid #222222; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 24px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #27A1CA;
}



/*-------DEFAULT-----------*/
.notification{
	position: relative;
    right:-350px;
    min-height:55px;
    width:350px;
    padding:15px;
    background-color: white;
    display:block;
    z-index:99;
    cursor:pointer;
	margin-bottom: 10px;
}

@media only screen and (max-width : 900px) {
	.notification{
		width: auto;
		margin:	5px;
		min-height: 35px;
	}
}

.notification:hover{
    opacity: 0.9;
}

.notification p{
    color:#444 !important;
	display: table;
}

.notification a{
	margin:0 !important;;
}

.notification img{
	height: 55px !important;
	float: left !important;
	padding-right: 12px;
	margin-right: 10px;
	border-right: 1px solid #ccc;
}

@media only screen and (max-width : 900px) {
	.notification img{
		height: 35px !important;
		float: left !important;
		padding-right: 12px;
		margin-right: 10px;
		border-right: 1px solid #ccc;
	}
}

.notification-title{
	font-size: 100%;
	margin-bottom: 3px;
}

.notification-text{
	font-size: 85%;
}

.notification-date {
	font-size: 80%;
	text-align: right;
	display: block !important;
}

@media only screen and (max-width : 900px) {
	.notification-title{
		font-size: 90%;
	}
	.notification-text{
		font-size: 80%;
	}
}

#notifications-panel .notification{
	right: 0 !important;
}

.notification.read{
	opacity: 0.5;
}

.notification.read:hover{
	opacity: 0.9;
}

/*-------WINS-----------*/
.notification.wins{
	background-color: #BED435;
}

.notification.wins p{
    color:#222 !important;
}

.notification.wins img{
	border-right: 1px solid #fff;
}

/*-------WARNING-----------*/
.notification.warning{
	background-color: #D45835;
}

.notification.warning p{
    color:#222 !important;
}

.notification.warning img{
	border-right: 1px solid #fff;
}

/*-------INFO-----------*/
.notification.info{
	background-color: #B2C4FF;
}

.notification.info p{
    color:#222 !important;
}

.notification.info img{
	border-right: 1px solid #fff;
}

/*-------PROPOSAL-----------*/
.notification.proposal{
	background-color: #3357cc;
}

.notification.proposal p{
    color:white !important;
}

.notification.proposal img{
	border-right: 1px solid #fff;

}

/*-------PROJECT-----------*/
.notification.project{
	background-color:#57cc33;
}

.notification.project p{
    color:#333 !important;
}

.notification.project img{
	border-right: 1px solid #fff;

}

/*-------EVENT-----------*/
.notification.event{
	background-color: #cc3357;
}

.notification.event p{
    color:white !important;
}

.notification.event img{
	border-right: 1px solid #fff;
}
