#macriforum{
    background-color: rgb(13, 13, 13);
    color:green;
    //position: fixed;
    z-index:5;
    float:right;
    //width:200px;
    //right: 0px;
    padding-top: 90px;
    height: 100%;
}
#talks .talk, #comments .comment_talk{
    display: block;
}
#talks .talk:hover, #comments .comment_talk:hover{
    background-color: rgb(50, 50, 50);
}

#proposals-viewer, #events-viewer, #projects-viewer{
    right:265px !important;
}
.comment_talk .details{
    color: rgb(101, 101, 101);
}
.comment_talk p{
    color: rgb(187, 187, 187);
}

button#forumback{
    border-radius:none !important;
    font-size: 22px;
    padding: 5px 30px;
    background-color: rgb(101, 101, 101);
    margin-bottom: 8px;
}
button#forumback:hover{
    color:white;
    background-color: rgb(150, 150, 150);
}
button#forumadd{
    border-radius:none !important;
    font-size: 18px;
    padding: 5px 15px;
    color: rgb(180, 180, 180);
    background-color: rgb(60, 60, 60);
    margin-bottom: 8px;
}
button#forumadd:hover{
    color:white;
    background-color: rgb(101, 101, 101);
}
textarea.forumadd{
    height: 80px !important;
    margin-bottom: 8px;
}
